# GCP Configuration
GOOGLE_CLOUD_PROJECT=your-gcp-project-id

# SSL Certificate Configuration
CERT_MANAGER_EMAIL=your-email@domain.com

# CROSSBAR Application Configuration
CROSSBAR_IPFS_GATEWAY_URL=https://ipfs.io
CROSSBAR_SOLANA_MAINNET_RPC=https://api.mainnet-beta.solana.com
CROSSBAR_SOLANA_DEVNET_RPC=https://api.devnet.solana.com
CROSSBAR_PORT=8080

